* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Amatic SC', cursive;
    background-color: #FFD553;
}

/* 1st section: main */

.main {
    background-color: #FF6376;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mainCenter {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: #FFD553;
    text-align: center;
}

#cookie {
    width: 700px;
    margin: 0 auto;
}

#cookie img {
    margin-bottom: 50px;
}


/* 2nd section: description */


.decription {
    background-color: #FFD553;

}


#descCenter {
    width: 1024px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    font-size: 30px;
    color: black;
    text-indent: 10%;
    text-align: justify;
}

/* 3rd section: fairy */

.fairy {
    background-color: black;
}

#fairyCenter {
    width: 1024px;
    margin: 0 auto;
}

#btn {
    width:200px;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: transparent;
    font-size: 40px;
    border-color: transparent;
    color: #E7D7B0;
    font-family: 'Amatic SC', cursive;
    margin-top: 50px;
}


button:hover {
    color: #FF6376;
}

#sawSpace{
    border: 2px solid transparent;
    height:500px;
    width: 1000px;
    margin: 0 auto;
    background-image: url("../images/scroll.png");
    background-size: cover;
    text-align: center;
}

#saying {
    font-size: 45px;
    height: 20px;
    width: 760px;
    margin: 0 auto;
    margin-top: 180px;
    text-indent: 0;
}

/* Footer */

footer {
    background-color: #FF6376;
}

#forward {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}

footer a {
    color: #FFD553;
    text-decoration: none;
    font-size: 30px;
}
